/* Nav Bar CSS */


/* Header CSS */



/* Section CSS */
    
    .color_div {
    height: 800px;
    margin: 1em;
    border-radius: 1em;
}



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


